doctype html
html
  head
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    title @walston Color tool
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css')
    link(rel='stylesheet' href='css/styles.css')
    script(src='js/app.js')
  body
    .jumbotron
      nav
        a(href='http://github.com/walston')
          i.fa.fa-github.fa-2x
      main
        form
          .form-group
            input#hex(type='text').form-control
          .form-group
            input#rgb(type='text').form-control
      footer
        p.text-center
          small.text-center &copy; 2016
          a(href="http://github.com/walston")  github.com/walston
